<%= form_for(@id3) do |f| %>
  <% if @id3.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@id3.errors.count, "error") %> prohibited this id3 from being saved:</h2>

      <ul>
      <% @id3.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :artist %><br>
    <%= f.text_field :artist %>
  </div>
  <div class="field">
    <%= f.label :album %><br>
    <%= f.text_field :album %>
  </div>
  <div class="field">
    <%= f.label "All Uriinfos" %><br />
    <%= f.collection_select :uriinfo_ids, Uriinfo.all, :id, :uri, {:include_blank => 'Select', include_hidden: false}, {:multiple => true} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
